<ion-header [translucent]="true">
  <ion-toolbar color= "dark">
    <ion-title>
      Conheça o Espirito Santo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card>
    <ion-card-header>
      <ion-img src="../../assets/images/amores.png"></ion-img>
      <ion-card-title>Terra Maravilhosa</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="ion-text-justify">
      O Espírito Santo é uma das unidades de federação que compõem a Região Sudeste do Brasil. Com área territorial de 46.074,447 km², é o quarto menor estado em extensão do país. É banhado a leste pelo Oceano Atlântico e possui faixa litorânea de 400 km.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Segmentos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item href="https://setur.es.gov.br/" target="blank">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/icon/leaf-outline.svg" />
          </ion-thumbnail>
          <ion-label>Agroturismo</ion-label>
        </ion-item>
  
        <ion-item href="https://setur.es.gov.br/" target="blank">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/icon/walk-outline.svg" />
          </ion-thumbnail>
          <ion-label>Aventura</ion-label>
        </ion-item>
  
        <ion-item href="https://setur.es.gov.br/" target="blank">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/icon/wine-outline.svg" />
          </ion-thumbnail>
          <ion-label>Ecoturismo</ion-label>
        </ion-item>
  
        <ion-item href="https://setur.es.gov.br/" target="blank" lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/icon/flower-outline.svg" />
          </ion-thumbnail>
          <ion-label>Parques</ion-label>
        </ion-item>

        <ion-item href="https://setur.es.gov.br/" target="blank" lines="none">
          <ion-thumbnail slot="start">
            <img alt="Sun" src="../../assets/icon/sunny-outline.svg" />
          </ion-thumbnail>
          <ion-label>Praias</ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
