<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pedra da Cebola</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains"
      src="https://lh3.googleusercontent.com/p/AF1QipNAYles8h7rAXp7Utxx_kjB81rFffHzuN8dh4QF=s680-w680-h510" />
    <ion-card-header>

    </ion-card-header>

    <ion-card-content>
      O Parque Pedra da Cebola está localizado no município brasileiro de Vitória, entre os bairros Jardim da Penha e
      Mata da Praia, na zona continental do município, no estado do Espírito Santo. O parque possui 100.005 metros
      quadrados e conta com uma vegetação típica de restinga.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="location-outline" slot="start"></ion-icon>
      <ion-label>Endereço</ion-label>
      <ion-button fill="outline"
        href="https://www.google.com/maps/place/Parque+Pedra+da+Cebola/data=!4m7!3m6!1s0xb81804ad481d6f:0x71875203a67637ac!8m2!3d-20.2765669!4d-40.2977346!16s%2Fg%2F11b7005129!19sChIJbx1IrQQYuAARrDd2pgNSh3E?authuser=0&hl=pt-BR&rclk=1"
        target="blank">Ver no mapa</ion-button>
    </ion-item>
    <ion-card-content>
      Entre as ruas Ana Vieira Mafra e João Baptista Celestino (acesso ao estacionamento) e a Avenida Fernando Ferrari,
      bairro Marta da Praia.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="time-outline" slot="start"></ion-icon>
      <ion-label>Horário de Funcionamento</ion-label>
    </ion-item>
    <ion-card-content>
      De terça a domingo, das 5 às 22 horas.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Internet Livre (Vitória Online)</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="happy-outline" slot="start"></ion-icon>
      <ion-label>Parquinhos</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="football-outline" slot="start"></ion-icon>
      <ion-label>Campo de Futebol</ion-label>
    </ion-item>
  </ion-card>



</ion-content>